@keyframes iconMove {
  0% {
    transform: translateY(0);
    transform: translateX(0); }
  25% {
    transform: translateY(-70px); }
  50% {
    transform: translateX(70px); }
  70% {
    transform: translateY(70px); }
  100% {
    transform: translateY(0);
    transform: translateX(0); } }

@keyframes circleMove {
  0% {
    transform: scale(0);
    opacity: 0; }
  25% {
    transform: scale(1.5);
    opacity: .2; }
  50% {
    transform: scale(2);
    opacity: .5; }
  75% {
    transform: scale(2.3);
    opacity: 0; }
  100% {
    transform: scale(0);
    opacity: 0; } }

body img {
  width: 100%; }

header.header {
  background-image: url("../image/header-bg.png");
  background-size: cover; }

.footer-top {
  background-color: #003ca0; }

.footer-bottom {
  background-color: #002b71; }

.button {
  padding: 10px 40px;
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  border-radius: 10px;
  border: 2px solid transparent;
  transition: all .3s;
  position: relative;
  z-index: 1; }

.button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 10px;
  transition: all .3s;
  z-index: -1; }

.button:hover::after {
  transform: scale(1.3);
  opacity: 0;
  background: #fbc02d; }

.button--yellow {
  background-color: #fbc02d;
  color: #003edd;
  margin-right: 10px; }

.button--yellow:hover {
  border: 2px solid #fbc02d;
  color: #fbc02d;
  background: transparent; }

.button--outline {
  border: 2px solid #fbc02d;
  color: #fbc02d; }

.button--outline:hover {
  background-color: #fbc02d;
  color: #003edd; }

header.header .navbar ul {
  margin-left: auto; }

header.header .navbar ul li {
  margin: 0 10px; }

header.header .navbar ul li a.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 10px;
  position: relative; }

header.header .navbar ul li a.active::after,
header.header .navbar ul li a.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #fbc02d;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  transition: all .3s; }

header.header .navbar ul li a.active::after {
  width: 100%; }

header.header .navbar ul li a.nav-link:hover::after {
  width: 100%; }

.footer-top {
  position: relative; }
  .footer-top .circle {
    width: 70px;
    height: 70px;
    background-color: #fbc02d;
    border-radius: 50%;
    display: inline-block;
    border: 10px solid #003ca0;
    position: absolute;
    top: -10%;
    left: 0;
    right: 0;
    margin: auto; }
    .footer-top .circle::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #fbc02d;
      border-radius: 50%;
      animation-name: circleMove;
      animation-duration: 1s;
      animation-timing-function: ease-in;
      animation-iteration-count: infinite; }
  .footer-top .footer-menu h4 {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 18px;
    text-transform: capitalize;
    color: #fff; }
  .footer-top .footer-menu h5 {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff; }
  .footer-top .footer-menu ul li a:link,
  .footer-top .footer-menu ul li a:visited {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    color: #fff;
    padding: 10px 20px;
    display: block;
    margin-bottom: 5px;
    position: relative;
    z-index: 1; }
  .footer-top .footer-menu ul li a.active::after,
  .footer-top .footer-menu ul li a:link::after,
  .footer-top .footer-menu ul li a:visited::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #fbc02d;
    transition: transform .2s, width .3s .2s, background-color .1s;
    transform: scaleY(0);
    z-index: -1; }
  .footer-top .footer-menu ul li a.active::after {
    transform: scaleY(1);
    width: 100%; }
  .footer-top .footer-menu ul li a:link:hover::after,
  .footer-top .footer-menu ul li a:visited:hover::after {
    width: 100%;
    transform: scaleY(1); }
  .footer-top .social-area h4 {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff; }
  .footer-top .social-area h5 {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff; }
  .footer-top .social-area p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    font-weight: 400;
    max-width: 70%; }
  .footer-top .social-area ul li {
    margin-right: 20px; }
  .footer-top .social-area ul li a {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #4b8fff;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1; }
  .footer-top .social-area ul li a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4b8fff;
    border-radius: 50%;
    z-index: -1;
    transition: all .3s; }
  .footer-top .social-area ul li a:hover::after {
    transform: scale(1.5);
    opacity: 0; }

.footer-bottom .footer-bottom-menu ul li {
  margin-right: 7px; }

.footer-bottom .footer-bottom-menu ul li a:link,
.footer-bottom .footer-bottom-menu ul li a:visited {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  color: #fff;
  padding: 0 5px;
  position: relative; }

.footer-bottom .footer-bottom-menu ul li a:link::after,
.footer-bottom .footer-bottom-menu ul li a:visited::after {
  content: '';
  width: 0;
  height: 2px;
  background-color: #fbc02d;
  position: absolute;
  right: 0;
  top: 100%;
  border-radius: 10px;
  transition: all .3s; }

.footer-bottom .footer-bottom-menu ul li a:link:hover::after,
.footer-bottom .footer-bottom-menu ul li a:visited:hover::after {
  width: 100%; }

.footer-bottom .copyright {
  font-size: 13px;
  font-weight: 400;
  color: #fff; }

.header__home-banner {
  padding: 100px 0 300px; }

.header__description h1 {
  font-size: 60px;
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  color: #fff;
  margin: 30px 0; }

.header__description p {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  max-width: 70%;
  margin-bottom: 60px; }

/* header end */
/* slider start */
.home-slider {
  background-color: #9fdeff; }
  .home-slider .sliders {
    position: relative;
    transform: translateY(-20%); }
    .home-slider .sliders .angle {
      color: #fff;
      font-size: 25px;
      border: 2px solid #fff;
      border-radius: 10px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      display: inline-block;
      outline: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
    .home-slider .sliders .left {
      left: -4%; }
    .home-slider .sliders .right {
      right: -4%; }
    .home-slider .sliders .slider-item {
      background-color: #fff;
      border-radius: 20px;
      overflow: hidden;
      transition: all .3s;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      min-height: 703px; }
      .home-slider .sliders .slider-item .item-top {
        background-color: #04388e;
        padding: 70px 0;
        border-radius: 0 0 30% 30%; }
        .home-slider .sliders .slider-item .item-top img {
          width: 50%;
          margin-bottom: 30px; }
        .home-slider .sliders .slider-item .item-top h4 {
          font-family: 'Montserrat', sans-serif;
          font-size: 20px;
          color: #fff;
          font-weight: 700;
          text-transform: capitalize; }
      .home-slider .sliders .slider-item .item-bottom {
        padding: 50px; }
        .home-slider .sliders .slider-item .item-bottom p {
          font-family: 'Montserrat', sans-serif;
          font-size: 15px;
          font-weight: 400;
          line-height: 20px;
          margin-bottom: 20px; }
      .home-slider .sliders .slider-item:hover {
        transform: translateY(-3%);
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4); }

/* slider end */
/* What we do start */
.whoWeare {
  padding: 150px 0; }
  .whoWeare__image img {
    width: 100%; }
  .whoWeare__description h2 {
    font-size: 40px;
    color: #1d59bf;
    font-weight: 800;
    text-transform: capitalize;
    font-family: 'Nunito', sans-serif; }
  .whoWeare__description p {
    font-family: 'Montserrat', sans-serif;
    color: #545454;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 50px; }
  .whoWeare__counter {
    margin-top: 50px; }
    .whoWeare__counter .conunter-item {
      margin-right: 30px; }
      .whoWeare__counter .conunter-item .counte-title {
        font-family: 'Nunito', sans-serif;
        font-size: 16px;
        color: #fbc02d;
        font-weight: 500;
        text-transform: uppercase; }
      .whoWeare__counter .conunter-item .counte-number {
        font-size: 40px;
        font-weight: 700;
        color: #04388e; }

/* What we do end */
/* seo section start */
.seo-section {
  background-image: url("../image/seo-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 135px 0; }
  .seo-section .seo-text h4 {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700; }
  .seo-section .seo-text h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 45px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 800; }
  .seo-section form input[type="email"] {
    padding: 13px 30px;
    border-radius: 15px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700; }
  .seo-section form input[type="submit"] {
    width: 100%;
    padding: 13px 30px;
    border-radius: 15px;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #1c5ac3;
    text-transform: uppercase; }
    .seo-section form input[type="submit"]:hover {
      color: #fff; }

/* seo section start */
/* porcess start */
.process {
  padding: 100px 0 30px; }
  .process .section-title h4 {
    font-family: 'Nunito', sans-serif;
    font-size: 46px;
    font-weight: 800;
    color: #1d59bf;
    margin-top: 0; }
  .process .section-title h5 {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #1d59bf;
    margin-bottom: 0;
    text-transform: uppercase; }
  .process .porcess-item {
    text-align: center; }
    .process .porcess-item .process-icon {
      width: 50%;
      margin: auto;
      background-color: #fbc02d;
      padding: 40px 30px;
      clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
      position: relative; }
    .process .porcess-item .icon-wrap {
      position: relative; }
      .process .porcess-item .icon-wrap .bar {
        width: 4px;
        height: 60px;
        background: #fbc02d;
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%); }
        .process .porcess-item .icon-wrap .bar .number {
          width: 45px;
          height: 45px;
          background: #fbc02d;
          position: absolute;
          border-radius: 50%;
          top: 90%;
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: 'Montserrat', sans-serif;
          font-size: 16px;
          color: #fff;
          font-weight: 700; }
    .process .porcess-item .porcess-description {
      margin: 90px 0;
      padding: 0 70px; }
      .process .porcess-item .porcess-description h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        color: #000;
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: 10px; }
      .process .porcess-item .porcess-description p {
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
        font-weight: 400; }
  .process .backbar .col-lg-3:not(:nth-child(4n+4)) .porcess-item .icon-wrap::after {
    content: '';
    width: 100%;
    height: 20px;
    background: #e1e1e1;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateY(-50%);
    z-index: -1; }

/* process end */
.about-banner {
  padding: 100px 0; }
  .about-banner h1 {
    font-size: 60px;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    color: #fff;
    margin: 30px 0;
    text-transform: capitalize; }
  .about-banner p {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 60px; }

.whoWeare {
  padding: 150px 0; }
  .whoWeare__image img {
    width: 100%; }
  .whoWeare__description h2 {
    font-size: 40px;
    color: #1d59bf;
    font-weight: 800;
    text-transform: capitalize;
    font-family: 'Nunito', sans-serif; }
  .whoWeare__description p {
    font-family: 'Montserrat', sans-serif;
    color: #545454;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 50px; }
  .whoWeare__counter {
    margin-top: 50px; }
    .whoWeare__counter .conunter-item {
      margin-right: 30px; }
      .whoWeare__counter .conunter-item .counte-title {
        font-family: 'Nunito', sans-serif;
        font-size: 16px;
        color: #fbc02d;
        font-weight: 500;
        text-transform: uppercase; }
      .whoWeare__counter .conunter-item .counte-number {
        font-size: 40px;
        font-weight: 700;
        color: #04388e; }

.about-slider {
  background-color: #9fdeff;
  padding: 100px 0; }
  .about-slider .position {
    position: relative; }
    .about-slider .position .left {
      position: absolute;
      top: 50%;
      left: -35px;
      font-size: 35px;
      color: #000; }
    .about-slider .position .right {
      position: absolute;
      top: 50%;
      right: -35px;
      font-size: 35px;
      color: #000; }
  .about-slider .slider-item {
    background-color: #fff; }

.about-gallery {
  padding: 100px 0; }
  .about-gallery .about-gallery-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: all .2s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); }
    .about-gallery .about-gallery-item:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); }
    .about-gallery .about-gallery-item .gallery-1 {
      background-color: #d9edfe; }
    .about-gallery .about-gallery-item .gallery-2 {
      background-color: #959595;
      transition: all .2s; }
      .about-gallery .about-gallery-item .gallery-2:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); }
    .about-gallery .about-gallery-item .gallery-3 {
      background-color: #fac02e;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .2s; }
      .about-gallery .about-gallery-item .gallery-3:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); }
      .about-gallery .about-gallery-item .gallery-3 h2 {
        font-family: 'Nunito', sans-serif;
        color: #1d59bf;
        font-size: 30px;
        text-transform: uppercase; }
    .about-gallery .about-gallery-item .gallery-4 {
      background-color: #658ccf;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .2s; }
      .about-gallery .about-gallery-item .gallery-4:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); }
      .about-gallery .about-gallery-item .gallery-4 h3 {
        font-family: 'Nunito', sans-serif;
        color: #fff;
        font-size: 30px;
        text-transform: uppercase; }
    .about-gallery .about-gallery-item .gallery-5 {
      background-color: #1b5ac4; }
    .about-gallery .about-gallery-item .middel-bottom {
      flex: 1;
      margin-top: 20px; }

/* story part  */
.story {
  padding: 80px 0; }
  .story .section-title h4 {
    font-family: 'Nunito', sans-serif;
    font-size: 46px;
    font-weight: 800;
    color: #1d59bf;
    margin-top: 0; }
  .story .section-title h5 {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #1d59bf;
    margin-bottom: 0;
    text-transform: uppercase; }
  .story .story-item .story-heading h4 {
    font-family: 'Nunito', sans-serif;
    color: #727272;
    font-size: 30px;
    font-weight: 800;
    margin: 60px 0; }
  .story .story-item .story-heading .left {
    text-align: left; }
  .story .story-item .story-heading .right {
    text-align: right; }
  .story .story-item .story-body {
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding: 30px;
    align-items: center; }
    .story .story-item .story-body .story-image {
      background-color: #1b5ac4;
      padding: 10px;
      margin-right: 30px; }
    .story .story-item .story-body .ordering {
      order: 1; }
    .story .story-item .story-body .story-description h4 {
      font-family: 'Nunito', sans-serif;
      color: #1b5ac4;
      font-size: 16px;
      text-transform: capitalize;
      font-weight: 700; }
    .story .story-item .story-body .story-description p {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: 400; }
  .story .story-bar {
    width: 5px;
    height: 100%;
    background: #d1d1d1;
    position: relative; }
    .story .story-bar .story-circle {
      width: 30px;
      height: 30px;
      background-color: #fbc02d;
      border-radius: 50%;
      border: 3px solid #d1d1d1;
      display: inline-block;
      position: absolute;
      transform: translate(-50%);
      left: 50%; }
    .story .story-bar .s-1 {
      top: 10%; }
    .story .story-bar .s-2 {
      top: 35%; }
    .story .story-bar .s-3 {
      top: 60%; }
    .story .story-bar .s-4 {
      top: 85%; }

.header__contact-banner {
  padding: 100px 0; }
  .header__contact-banner h1 {
    font-size: 60px;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    color: #fff;
    margin: 30px 0;
    text-transform: capitalize; }
  .header__contact-banner p {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 60px; }

.contactMain {
  padding: 150px 0; }
  .contactMain__information {
    background-color: #1b5ac4;
    border-radius: 10px;
    padding: 70px 60px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    transition: all .3s; }
    .contactMain__information:hover {
      box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
      transform: translateY(-8px) scale(1.01); }
    .contactMain__information h2 {
      font-family: 'Nunito', sans-serif;
      font-size: 30px;
      font-weight: 800;
      color: #fff;
      text-transform: capitalize;
      margin-bottom: 30px; }
    .contactMain__information p {
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: #fff;
      margin-bottom: 40px; }
  .contactMain .information-item {
    margin-top: 30px; }
    .contactMain .information-item .information-icon {
      margin-right: 15px; }
      .contactMain .information-item .information-icon i {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #fbc02d;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #1b5ac4;
        font-size: 22px; }
    .contactMain .information-item .information-text p {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #fff;
      line-height: 26px;
      margin: 0; }
  .contactMain .contact-form input, .contactMain .contact-form textarea {
    margin-bottom: 25px;
    padding: 10px 20px;
    border: 1px solid #1b5ac4;
    border-radius: 10px; }
  .contactMain .contact-form textarea {
    height: 200px; }
  .contactMain .contact-form input[type="submit"] {
    border: 2px solid #fbc02d;
    padding: 10px 40px; }

.blog-banner {
  padding: 100px 0; }
  .blog-banner h1 {
    font-size: 60px;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    color: #fff;
    margin: 30px 0;
    text-transform: capitalize; }
  .blog-banner p {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 60px; }

.blog {
  padding: 130px 0; }
  .blog__image {
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 50px; }
  .blog .date span {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;
    padding: 10px 20px;
    display: inline-block;
    background-color: #fbc02d;
    border-radius: 10px; }
  .blog .date hr {
    width: 100%;
    height: 3px;
    background: #b7b7b7; }
  .blog .description {
    margin-bottom: 50px; }
    .blog .description h3 {
      font-family: 'Nunito', sans-serif;
      color: #1d59bf;
      font-size: 30px;
      text-transform: capitalize;
      font-weight: 800;
      margin: 50px 0; }
    .blog .description p {
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      color: #545454; }
  .blog .pagenation .pagenation-item {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    text-transform: capitalize;
    color: #b0b0b0;
    display: inline-block;
    margin: 0 5px;
    text-decoration: none;
    transition: all .2s; }
    .blog .pagenation .pagenation-item i {
      padding: 7px; }
    .blog .pagenation .pagenation-item.active, .blog .pagenation .pagenation-item:hover {
      text-decoration: underline;
      color: #1d59bf; }

.service-banner {
  padding: 100px 0; }
  .service-banner h1 {
    font-size: 60px;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    color: #fbc02d;
    margin: 30px 0;
    text-transform: capitalize; }
  .service-banner p {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 60px; }

.service .service-inner {
  padding: 100px; }
  .service .service-inner hr {
    width: 100%;
    height: 3px;
    background: #5a5757;
    margin-top: 100px; }

.service__filter ul {
  margin: 40px 0; }

.service__filter ul li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #d1d1d1;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: all .2s; }
  .service__filter ul li a.active {
    color: #1b5ac4; }
  .service__filter ul li a:hover {
    color: #1b5ac4; }

.service__photo .photo-1 {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px; }

.service__photo .photo-2 {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px; }

.service__photo .photo-3 {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px; }

.service .service-item {
  margin-bottom: 50px;
  padding: 0 50px; }
  .service .service-item img {
    width: 150px;
    margin-bottom: 30px; }
  .service .service-item h3 {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #000; }
  .service .service-item p {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #000;
    margin: 40px 0;
    line-height: 18px; }
