.about-banner{
    padding: 100px 0;
    h1{
        font-size: 60px;
        font-family: 'Nunito', sans-serif;
        font-weight: 800;
        color:#fff;
        margin: 30px 0;
        text-transform: capitalize;
    }
    p{
        font-family: 'Nunito', sans-serif;
        font-size: 18px;
        color: #fff;
        font-weight: 600;
        max-width: 50%;
        margin: 0 auto;
        margin-bottom: 60px;
    }
}

.whoWeare{
    padding: 150px 0;

    &__image{
        img{
            width: 100%;
        }
    }

    &__description{
        h2{
            font-size: 40px;
            color: #1d59bf;
            font-weight: 800;
            text-transform: capitalize;
            font-family: 'Nunito', sans-serif; 
        }
        p{
            font-family: 'Montserrat', sans-serif;
            color: #545454;
            font-size: 20px;
            font-weight: 400;
            line-height: 28px;
            margin-top: 50px;
        }
    }

    &__counter{
        margin-top: 50px;
        .conunter-item{
            margin-right: 30px;
            .counte-title{
                font-family: 'Nunito', sans-serif;
                font-size: 16px;
                color: #fbc02d;
                font-weight: 500;
                text-transform: uppercase;
            }
            .counte-number{
                font-size: 40px;
                font-weight: 700;
                color: #04388e;

            }
        }
    }
}
.about-slider{
    background-color: #9fdeff;
    padding: 100px 0;
    
    .position{
        position: relative;
        .left{
            position: absolute;
            top: 50%;
            left: -35px;
            font-size: 35px;
            color: #000;
        }
        .right{
            position: absolute;
            top: 50%;
            right: -35px;
            font-size: 35px;
            color: #000;
        }
    }
    .slider-item{
        background-color: #fff; 
        
        img{

        }
    }
}
.about-gallery{
    padding: 100px 0;
    .about-gallery-item{
        height: 100%;
        display: flex;
        flex-direction: column;
        transition: all .2s;
        box-shadow: 0 5px 10px rgba(0,0,0,.3);

        &:hover{
            box-shadow: 0 10px 20px rgba(0,0,0,.4);
        }

        .gallery-1{
            background-color: #d9edfe;
        }
        .gallery-2{
            background-color: #959595;
            transition: all .2s;
            &:hover{
                box-shadow: 0 10px 20px rgba(0,0,0,.4);
            }
        }
        .gallery-3{
            background-color: #fac02e;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .2s;
            &:hover{
                box-shadow: 0 10px 20px rgba(0,0,0,.4);
            }
            
            h2{
                font-family: 'Nunito', sans-serif;
                color: #1d59bf;
                font-size: 30px;
                text-transform: uppercase; 
            }
        }
        .gallery-4{
            background-color: #658ccf;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .2s;
            &:hover{
                box-shadow: 0 10px 20px rgba(0,0,0,.4);
            }
            h3{
                font-family: 'Nunito', sans-serif;
                color: #fff;
                font-size: 30px;
                text-transform: uppercase; 
            }
        }

        .gallery-5{
            background-color: #1b5ac4;
            img{

            }
        }

        .middel-bottom{
             flex: 1;
             margin-top: 20px;
        }
    }
}


/* story part  */
.story{
    padding: 80px 0;
    .section-title{

        h4{
            font-family: 'Nunito', sans-serif;
            font-size: 46px;
            font-weight: 800;;
            color: #1d59bf;
            margin-top: 0;
        }
        h5{
            font-family: 'Nunito', sans-serif;
            font-size: 20px;
            font-weight: 700;;
            color: #1d59bf;
            margin-bottom: 0;
            text-transform: uppercase;
        }
    }

    .story-item{
        .story-heading{
            h4{
                font-family: 'Nunito', sans-serif;
                color: #727272;
                font-size: 30px;
                font-weight: 800;
                margin: 60px 0;
            } 
            .left{
                text-align: left;
            }
            .right{
                text-align: right;
            }
        }
        .story-body{ 
            border: 1px solid #d1d1d1;
            border-radius: 10px;
            padding: 30px;
            align-items: center;  

            .story-image{
                background-color: #1b5ac4;
                padding: 10px;
                margin-right: 30px; 
                img{

                }
            }
            .ordering{
                order: 1;
            }
            .story-description{
                h4{
                    font-family: 'Nunito', sans-serif;
                    color: #1b5ac4;
                    font-size: 16px;
                    text-transform: capitalize;
                    font-weight: 700;
                }
                p{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }

    .story-bar{
        width: 5px;
        height: 100%;
        background: #d1d1d1;
        position: relative;
        .story-circle{
            width: 30px;
            height: 30px;
            background-color: #fbc02d;
            border-radius: 50%;
            border: 3px solid #d1d1d1;
            display: inline-block;
            position: absolute;
            transform: translate(-50%);
            left: 50%;
        }
        .s-1{
            top: 10%;
        }
        .s-2{
            top: 35%;
        }
        .s-3{
            top: 60%;
        }
        .s-4{
            top: 85%;
        }
    }
}