.header{
    &__home-banner{ 
        padding: 100px 0 300px;
    }
    &__description{

        h1{
            font-size: 60px;
            font-family: 'Nunito', sans-serif;
            font-weight: 800;
            color:#fff;
            margin: 30px 0;
        }
        p{
            font-family: 'Nunito', sans-serif;
            font-size: 18px;
            color: #fff;
            font-weight: 600;
            max-width: 70%;
            margin-bottom: 60px;
        }
        
    }
}
